src/main/resources/relaxng/secondary.rnc


Secondary = element act {
	attribute name { SecondaryDocType | SecondaryDraftDocType },
	attribute contains { 'originalVersion' }?,
	Metadata,
	CoverPage?,
	SecondaryPreface,
	SecondaryPreamble,
	SecondaryBody,
	Conclusions?
}

Conclusions = element conclusions {
	IdAttributes,
	ExplanatoryNote?,
	EarlierOrders?
}
